body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  border-radius: 10px;
}

input {
  padding: 10px;
  width: 80%;
  margin: 10px;
}

button {
  padding: 10px;
  background: #22c55e;
  border: none;
  cursor: pointer;
}

pre {
  text-align: left;
  background: #0b1220;
  padding: 10px;
}
